.project-summary h2 {
    font-size: 1.875rem;
    line-height: 2.5rem;
    margin-bottom: 10px;
}

.project-summary p {
    margin-bottom: 1.125rem;
    line-height: 1.75;
}

.project-summary a {
    color: #007acc;
    text-decoration: none;
    font-weight: bold;
}

.project-summary a:hover {
    text-decoration: underline;
}

.project-cards {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 2rem 0;
}

.project-card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    width: 100%;
}

.project-card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 1rem;
}

.card-content h2 {
    margin: 0 0 0.5rem 0;
    font-size: 1.5rem;
    font-family: 'Nunito', sans-serif;
}

.card-content p {
    margin: 0;
    font-size: 1rem;
}

.project-card:hover {
    transform: translateY(-5px);
}

.view-more-container {
    text-align: center;
    margin-top: 2rem; /* Adjust the spacing above the button as needed */
}

.view-more-button {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #000000;
    font-size: 1rem;
    text-decoration: none;
    font-family: 'Nunito', serif; /* Ensure the font matches your theme */
    transition: all 0.3s ease;
    border-radius: 0.5rem;
}

.view-more-button i {
    margin-right: 0.5rem; /* Space between icon and text */
    vertical-align: middle;
}

.view-more-button:hover {
    background-color: #000000;
    color: #ffffff;
    transform: translateY(-3px); /* Slightly raises the button */
    border-color: #000000;
}

.view-more-button:hover i {
    color: #ffffff; /* Ensures icon color matches text on hover */
}

.view-more-button:hover a {
    text-decoration: underline;
}

.view-more-button a:hover {
    text-decoration: underline; /* Underlines the text on hover */
}
